.back {
    background-image: linear-gradient(to right, gold, yellow);
}

/*style for old input*/
/* .numIput{
            background-color: #333;
            color: white;
        }
        .kValue{
            background-color: #ff993b;
            font-family: Raleway;
            color:darkorchid
        }
        .soafbtn{
            font-family: Raleway;
            width: 75%;
        }
*/